# ================================
# OS / Editor common
# ================================
.DS_Store
Thumbs.db

# IDE
.vs/
.idea/
**/.idea/
**/.vscode/

# User-specific
*.user
*.suo
*.tmp
*.log

# ================================
# Common build outputs (all projects)
# ================================
**/bin/
**/obj/

# NuGet artifacts (if packing locally)
*.nupkg
*.snupkg